body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.center {
    margin: auto !important;
    width: 50%;
    border: 3px solid #ffffff;
    padding: 20px;
    background-color: #212121;
}

table {
    border: 2px solid #ffffff;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 3px solid #ffffff;
    padding: 15px;
    text-align: center;
}

th {
    background-color: #333333;
    color: #ffffff;
}

td {
    background-color: #424242;
    color: #ffffff;
}

.btn-danger {
    background-color: #FF6347;
    border-color: #D9534F;
    color: #ffffff;
}

.btn-primary {
    background-color: #36A2EB;
    border-color: #36A2EB;
    color: #ffffff;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    color: #36A2EB;
}

.pagination span.current {
    color: #FF6347;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form-group button {
    background-color: #4CAF50;
    border: none;
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
}
